#webGLContainer {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#header #title {
	text-align: center;
}

#navigation #title {
	z-index: 10;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: 1em;
}

#navigation #previous {
	z-index: 10;
	background-color: #fff;
	padding: 0.3em 0.7em;
	position: absolute;
	bottom: 1em;
	left: 1em;
	display: block;
}

#navigation #next {
	z-index: 10;
	position: absolute;
	background-color: #fff;
	padding: 0.3em 0.7em;
	bottom: 1em;
	right: 1em;
	display: block;
}
